production:
  email_delivery:
    delivery_method: {{ redmine_email.delivery_method }}
    smtp_settings:
      address: {{ redmine_email.smtp.address }}
      port: {{ redmine_email.smtp.port }}
      domain: {{ redmine_email.smtp.domain }}
      authentication: {{ redmine_email.smtp.authentication }}
      user_name: {{ redmine_email.smtp.username }}
      password: {{ redmine_email.smtp.password }}