development:
  adapter: mysql2
  database: {{ mariadb_dbname|default("redmine", true) }}
  host: {{ mariadb_host|default("localhost", true) }}
  username: {{ mariadb_user|default("redmine", true) }}
  password: {{ mariadb_redmine_password }}
  socket: /var/run/mysqld/mysqld.sock

production:
  adapter: mysql2
  database: {{ mariadb_dbname|default("redmine", true) }}
  host: {{ mariadb_host|default("localhost", true) }}
  username: {{ mariadb_user|default("redmine", true) }}
  password: {{ mariadb_redmine_password }}
  socket: /var/run/mysqld/mysqld.sock